 - Pandas is a popular library for data science used for data analysis
 - Two data structures offered by pandas
     - Series - One dimensional data structure comprising of key value pair. Analogous to a single column of a tabular data. Allows vectorized operations to be performed
     - DataFrame - Its a two dimensional data structure which is analogous to a tabular data. This Data structure is extensively used for all the structured data analysis

In [1]:
import pandas as pd

Pandas Series can be created from any python collection like, lists or tuples or dictionaries

In [2]:
stock_list = [660.45,1929.50,328.80,288.10,1939.90]

In [3]:
stock_series = pd.Series(stock_list)

In [4]:
stock_series

0     660.45
1    1929.50
2     328.80
3     288.10
4    1939.90
dtype: float64

In [ ]:
#Index can be assigned using the index argument

In [5]:
stock_series = pd.Series(stock_list, index = ['INFOSYS','TCS','WIPRO','SBI','HDFC'])
stock_series

INFOSYS     660.45
TCS        1929.50
WIPRO       328.80
SBI         288.10
HDFC       1939.90
dtype: float64

In [ ]:
#Creating a series from a dictionary

In [6]:
stock_price = {'INFOSYS':660.45,'TCS':1929.50,'WIPRO': 328.80, 'SBI':288.10, 'HDFC': 1939.90}

In [ ]:
stock_price

In [7]:
stock_series = pd.Series(stock_price)
stock_series

INFOSYS     660.45
TCS        1929.50
WIPRO       328.80
SBI         288.10
HDFC       1939.90
dtype: float64

In [8]:
stock_series.mean()

1029.35

In [9]:
stock_series.sum()

5146.75

In [10]:
stock_series.min()

288.1

In [ ]:
stock_series[0]

In [11]:
stock_series['INFOSYS']

660.45

In [12]:
stock_series[stock_series>1000]

TCS     1929.5
HDFC    1939.9
dtype: float64

In [13]:
EmpCount = {'INFOSYS':3.5,'TCS':3.9,'WIPRO': 2.5, 'SBI':1.8, 'HDFC': 1.2}

In [14]:
EmpCount_series = pd.Series(EmpCount)

In [15]:
EmpCount_series

INFOSYS    3.5
TCS        3.9
WIPRO      2.5
SBI        1.8
HDFC       1.2
dtype: float64

In [16]:
EmpCount_series.sum()

12.9

In [ ]:
#Concatenating Pandas Series to form a tabular data

In [17]:
pd.concat((EmpCount_series,stock_series),axis=1)

           0        1
INFOSYS  3.5   660.45
TCS      3.9  1929.50
WIPRO    2.5   328.80
SBI      1.8   288.10
HDFC     1.2  1939.90