lambda expressions
 - anonymous functions which which are not bound by a name
 - Its restricted to a single expression
 - Executed inline Does not have an explicit function call

In [1]:
#Creating a lambda function object
lambda x, y : x + y

In [ ]:
#Executing the expression inline
(lambda x, y : x + y)(3,2)

In [2]:
#Giving name to the lambda function object
fn = lambda x, y : x + y

In [3]:
fn(3,2)

5

 - Lambda expressions can be used in any fucntion which require a function object as an argument
 - extensively used in the below functions:
        1. map
        2. filter
        3. reduce

map - is to apply an operation on every element of a collection

map function takes 2 arguments
1. function object, an operation which is to be applied on every element of the list. This can be a lambda as well
2. A collection on which the operation is to be applied

In [ ]:
#take a list and map the square function on every element of the list

In [4]:
lst = [10,20,30,40]

In [5]:
m = map(lambda a:a**2, lst)

In [6]:
m

In [7]:
list(m)

[100, 400, 900, 1600]

In [ ]:
#map function returns a map object which is not iteratable, 
# when printed it display the address of the object in memory
#hence to display the values, map object is converted to a list

#Divide every element by 100

In [8]:
lst = [7,8,9,14,13,12,6,5]
list(map(lambda x: x/100,lst))

[0.07, 0.08, 0.09, 0.14, 0.13, 0.12, 0.06, 0.05]

- Filter is used to filter or choose the elements from a collection based on a condition
- Takes 2 arguments
    1. Function object which specifies the condition
    2. A collection
- The outcome of filter would be only the elements from the collection which satisfies the condition represented by the function object

In [9]:
lst = [10,20,30,33,45,75,90]

In [10]:
f = filter(lambda x:x%10==0,lst)
div10 = list(f)
div10

[10, 20, 30, 90]

In [ ]:
#for all numebrs divisble by 10 take a square of it

In [11]:
list(map(lambda x:x**2,div10))

[100, 400, 900, 8100]

Reduce - To apply pair wise or an aggregate operation like sum, mul, min, max on a collection

Reduce function takes 2 arguments:
1. a function object which sepcifies the aggregate operation to be performed
2. A collection

The function object specifies a pair wise operation or an aggregate operation and hence takes two arguments

In [12]:
from functools import reduce

In [13]:
lst = [3,4,5,6,7,8,9]
total = reduce(lambda x,y:x+y,lst)
total

42

In [14]:
average = total/len(lst)
average

6.0

In [ ]:
# 1. clean a list by removing zeros
# 2. Multiply every element of the cleaned list
# 3. Find the min and max element from this cleaned list

In [15]:
lst = [7,19,3,2,0,5,0,3]

In [16]:
lst_clean = list(filter(lambda x:x!=0,lst))
lst_clean

[7, 19, 3, 2, 5, 3]

In [17]:
prod = reduce(lambda x,y:x*y,lst_clean)
prod

11970

In [ ]:
min_elem = reduce(lambda x,y: x if x<y else y,lst_clean)
min_elem

In [ ]:
max_elem = reduce(lambda x,y: x if x>y else y,lst_clean)
max_elem

In [18]:
n=8
lst = list(range(1,n+1))
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
reduce(lambda x,y:x*y,lst)

40320

Take a list of 10 numbers: `[10,0,5,-5,30,20,32]`
    1. Retain only non zero non negative numbers
    2. Compute the mean of cleaned marks
    3.find numbers from the list which are greater than the mean
	4. Using compute the squared differences of every number from the mean  - Try out yourself

In [21]:
marks = [10,0,5,-5,30,20,32]

In [23]:
#1
cleaned_marks = list(filter(lambda x:x>0,marks))

In [24]:
cleaned_marks

[10, 5, 30, 20, 32]

In [27]:
#2
mean = reduce(lambda x,y:x+y,cleaned_marks)/len(cleaned_marks)
print(mean)

19.4

In [28]:
#3
list(filter(lambda x: x>mean,cleaned_marks))

[30, 20, 32]

In [35]:
n = 3
r = 2

lst1 = list(range(1,n+1))
lst2 = list(range(1,n-r+1))
lst3 = list(range(1,r+1))

factorialn = reduce(lambda x,y:x*y,lst1)
factorialn_r = reduce(lambda x,y:x*y,lst2)
factorialr =reduce(lambda x,y:x*y,lst3)
z = factorialn/(factorialn_r*factorialr)
z

3.0

In [32]:
salaries = ['25-35L', '50-55L','10-15L','40-50L','20-30L']

In [33]:
min_salary = list(map(lambda sal: int(sal.split('-')[0]), salaries))
min_salary

[25, 50, 10, 40, 20]

In [34]:
max_salary = list(map(lambda sal: int(sal.split('-')[1].replace('L','')), salaries))
max_salary

[35, 55, 15, 50, 30]