- String is an immutable collection of characters
- Strings are case sensitive
- Strings are indexed from 0

In [1]:
word = "Bangalore"

In [2]:
word[0]

'B'

In [3]:
word[-1]

'e'

In [4]:
len(word)

9

In [ ]:
#Slice the string

In [5]:
word[3:6]

'gal'

In [6]:
word[2:]

'ngalore'

In [ ]:
#Iterating on strings

In [7]:
for char in word:
    print(char)

B
a
n
g
a
l
o
r
e

In [9]:
# in operator
search_char = 'L'
if search_char in word:
    print(search_char, " Present in the word")
else:
    print(search_char, " Not present in the word ")

L  Not present in the word

In [11]:
'Band' in word

False

In [12]:
#Strings are immutable
word[3] = 'z'

TypeError: 'str' object does not support item assignment

In [ ]:
# for Multi lines use \n
# \n - new line charecter

In [13]:
multi_line = 'welcome to the course on python\ni am linking the course\ni am enjoing python'
print(multi_line)

welcome to the course on python
i am linking the course
i am enjoing python

In [14]:
multi_line = '''welcome to the course on python 
i am linking the course
i am enjoing python'''
print(multi_line)

welcome to the course on python
i am linking the course
i am enjoing python

String Methods
 1. startswith
 2. split
 3. join
 4. strip
 5. find
 6. rfind
 7. replace
 8. count

In [15]:
word = "Bangalore"
print(word.startswith("Ban")) #check for multiple char's
print(word.startswith("b")) #cehck for a single char

True
False

In [16]:
#Split by space by default
text = "Welcome to Bangalore"
text.split()

['Welcome', 'to', 'Bangalore']

In [17]:
#Split by the specified charetcer
text = "welcome,to,bangalore"
text.split(",")

['welcome', 'to', 'bangalore']

In [ ]:
text = "Date is 23 07 2019"
text.split(" ",2) #2 signifies to split till the second delimiter

In [ ]:
#obtain date alone
text.split(" ",2)[2]

In [18]:
lst = ['hi','hello','how','are','you']
" ".join(lst)

'hi hello how are you'

In [19]:
multi_line = 'welcome to the course on python\ni am linking the course\ni am enjoing python'
print(multi_line)

welcome to the course on python
i am linking the course
i am enjoing python

In [20]:
#When you have a multiple lines, and you use split
multi_line.split("\n")

['welcome to the course on python',
 'i am linking the course',
 'i am enjoing python']

White space charecters

    ' ' – Space
    '\t' – Horizontal tab
    '\n' – Newline
    '\v' – Vertical tab
    '\f' – Feed
    '\r' – Carriage return
 Strip removes white space charecters

In [21]:
word = " Times Pro "
word

' Times Pro '

In [22]:
word.strip()

'Times Pro'

In [23]:
word = " Times Pro\t"
print(word)

 Times Pro

In [24]:
word.strip()

'Times Pro'

In [25]:
#Index of the first occourrence
word.find("r")

8

In [26]:
#Replace all occurrence
line = "I am not interested. i am not in a position to work"
line.replace("not ","")

'I am interested. i am in a position to work'

In [28]:
print(line)

I am not interested. i am not in a position to work

Difference between strip and replace
 - strip -> removes the charecter beginning and at end
 - replace -> replaces the charecter with another charecter anywhere in the string

In [27]:
#Frequency of occourrence of a particular character
word = "bangalore times pro"
word.count("r")

2

In [ ]:
#Given a string  - "Today's Date is 23 07 2019" extarct the date in format 23-07-2019

In [ ]:
# the Extract only the date
date = "Today's Date is 23 07 2019"
date.split(" ",3)[3].replace(" ","-")