### Tuples
 - Immmutable collection of Hetrogenous elements
 - indexed from 0

In [1]:
t = ('a', 'b', 1, 2, 'e')

In [2]:
print(t)

('a', 'b', 1, 2, 'e')

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
print(t[0]) # gives me the first element

a

In [5]:
print(t[1:4])

('b', 1, 2)

In [6]:
print(t[-1])

e

To convert 2 lists of equal length into a single list of tuples

In [7]:
x=[11,12,13]
y=[21,22,23]

In [8]:
print(list(zip(x,y)))

[(11, 21), (12, 22), (13, 23)]

In [9]:
t

('a', 'b', 1, 2, 'e')

In [10]:
t[0] = 25

TypeError: 'tuple' object does not support item assignment

In [11]:
2 in t

True

In [12]:
25 in t

False

### Set
 - Unordered collection of unique elements
 - Elements cannot be accessed through an index

In [13]:
lst = [10,20,30,10,5,4,3,-1,0,20,40,50,'a','b','a']

In [14]:
lst

[10, 20, 30, 10, 5, 4, 3, -1, 0, 20, 40, 50, 'a', 'b', 'a']

In [15]:
st = set(lst)

In [16]:
st

{-1, 0, 10, 20, 3, 30, 4, 40, 5, 50, 'a', 'b'}

In [17]:
#Sets are unordered
st[0]

TypeError: 'set' object is not subscriptable

In [18]:
#Adds an element if the element c is not already present
st.add('c')

In [19]:
st

{-1, 0, 10, 20, 3, 30, 4, 40, 5, 50, 'a', 'b', 'c'}

In [20]:
st.add(50)

In [21]:
st

{-1, 0, 10, 20, 3, 30, 4, 40, 5, 50, 'a', 'b', 'c'}

In [22]:
len(st)

13

In [23]:
for elem in st:
    print(elem)

0
3
4
5
b
40
10
c
50
20
-1
a
30

In [ ]:
# to index the elements of a set, it must be converted to a list or a tuple

In [24]:
lst1 = list(st)
lst1

[0, 3, 4, 5, 'b', 40, 10, 'c', 50, 20, -1, 'a', 30]

In [25]:
lst1[5]

40

In [26]:
st1 = {"This","is","set","one"}
st2 = {"This","is","set","two"}

In [27]:
"one" in st1

True

In [28]:
"one" in st2

False

In [29]:
st1.difference(st2)

{'one'}

In [30]:
st1.union(st2)

{'This', 'is', 'one', 'set', 'two'}

In [31]:
st1.intersection(st2)

{'This', 'is', 'set'}